name: contrast-scan-action

on:
  push:
    branches:
      - "master"

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: build jar
        run: |
          mvn clean install -DskipTests

      - name: Contrast Scan Action
        uses: Contrast-Security-OSS/contrastscan-action@PROD-1800-rewrite-gh-action-with-cli
        with:
          artifact: target/endpoint-challenge-0.0.1-SNAPSHOT.jar
          apiKey: ${{ secrets.CONTRAST_API_KEY }}
          orgId: ${{ secrets.CONTRAST_ORGANIZATION_ID }}
          apiUrl: ${{ secrets.CONTRAST_API_URL }}
          authHeader: ${{ secrets.CONTRAST_AUTH_HEADER }}
          projectName: endpoint-challenge

      - name: verify sarif contents
        run: |
          cat results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
